.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.border{
 margin: 20px;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  margin-top: 23px;
  border-radius: 10px;
}
label{
  margin-top: 20px;
  font-size: 20px;
  margin-right:10px ;
  color: white;
}
.App{
  min-height:100vh;
  background: url(https://www.freegreatpicture.com/files/30/20125-large-beach-coast.jpg);
}
h3{
  display: flex;
  justify-content: center;
  color: white;
}
span{
  display: flex;
  justify-content: center;
  color: white;
}